<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">
      <nav>
        <ul class="nav">
          <li class="nav-item m-3">
            <a class="btn btn-info text-white" routerLink="/encriptacion">Ejercicion encriptación</a>
          </li>
          <li class="nav-item m-3">
            <a class="btn btn-primary text-white" routerLink="/productos">Ejercicio CRUD</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <router-outlet></router-outlet>
</div>